@import "messages-partial-stylesheet";
* {
  box-sizing: border-box;
  .wrapper {
    display: flex;
    height: 100vh;

    .chat-side {
      width: 300px;

      &__header {
        @include flexbox-center();
        background-color: #253141;
        height: 100px;

        &--side_box {
          @include flexbox-nav-bar();
          height: 20px;
          width: 260px;
          margin: 0 20px;
          color: $color-white;
          font-size: 16px;
          font-weight: bold;
          .p {
            line-height: 20px;
          }
          .ul--menu {
            @include flexbox-end();
            width: 60px;
            .menu__btn {
              color: $color-white;
            }
          .li--new-group {
            margin-right: 5px;
            }
          }
        }
      }
      &__groups {
        background-color: #2f3e51;
        height: calc(100vh - 100px);
        overflow: scroll;

        &--group_box {
          height: calc(65px + 15px + 11px);
          width: calc(100% - 40px);
          margin-left: 20px;

          .group {
            text-decoration: none;
          }

          &__group-name {
            font-size: 15px;
            padding-top: 20px;
            margin-bottom: 5px;
            color: $color-white;
          }
          &__latest-message {
            font-size: 11px;
            margin-bottom: 40px;
            color: $color-white;
          }
          
          
        }
      }
    }
    .chat-main {
      width: calc(100vw - 300px);
      position: relative;

      &__header {
        @include flexbox-nav-bar();
        background-color: $color-white;
        height: 100px;
        border-bottom: 1px solid #eeeeee;
        width: 100%;
        padding: 0 40px;
        position: absolute;
        top: 0;

        &__leftbox {
          margin-top: 35px;
          &__current_group {
            font-size: 20px;
            color: #333333;
            margin-bottom: 15px;
          }
          &__member-lists {
            font-size: 12px;
            color: #999999;
            display: flex;
          }
        }
        &-edit__btn {
          @include flexbox-center();
          width: 72px;
          height: 40px;
          border-style: solid;
          border-width: 1px;
          color: #38aef0;
          
          .edit__btn {
            text-decoration: none;
            font-size: 16px;
            color: #38aef0;
            padding: 0 20px;
          }
        }
      }
      &__messages {
        background-color: #fafafa;
        height: 100%;
        padding-top: 100px;
        overflow: scroll;
        &__message-box {
          padding: 35px 40px 46px;
          &__info {
            display: flex;
            margin-bottom: 12px;
            &__user-name {
              font-weight: bold;
              color: #333333;
              font-size: 16px;
            }
            &__sent-time {
              margin-left: 10px;
              font-size: 12px;
              color: #999999;
            }
          }
          &__message {
            font-size: 14px;
            color: #434A54;
          }
        }
      }
      
      &__form-box {
        background-color: #d2d2d2;
        height: 90px;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        bottom: 0;
        position: absolute;
        width: 100%;
          
        &__text {
          position: relative;
          height: 50px;
          width: 100%;
          padding-left: 10px;

          &__pic-btn {
            font-size: 25px;
            position: absolute;
            right: 160px;
            &__hidden {
              display: none;
            }
          }
        }
        &__send-btn {
          text-decoration: none;
          background-color: #38aef0;
          width: 100px;
          height: 50px;
          color: $color-white;
          margin-left: 15px;
        }
      }
    }
  }
}
